@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* Lists, Pseudo Selectors */
ul li:first-of-type {
  color: red;
}

ol li:first-child li:nth-child(2n + 1) {
  color: blue;
}

/* li::marker {
  content: "+";
}

li::before {
  content: "---";
}

li::after {
  content: "....";
} */

ul li:not(:last-child)::after {
  content: ",";
}
