body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header-img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.bg-img {
  background: url(../assets/img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.page-header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

/* Helper Classes */

/* .d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-center-h {
  display: flex;
  direction: row;
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.p-2 {
  padding: 8px;
} */

/* Gradients */

.circle {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 4px;
}

.gr-linear {
  background: linear-gradient(to right, blue, red);
}

.gr-linear-repeat {
  background: repeating-linear-gradient(blue, red 10px, blue 10px);
}

.gr-radial {
  background: radial-gradient(circle, red, blue);
}

.gr-conic {
  background: conic-gradient(blue, red, blue, red);
}

/*BEM*/

/* Header */

.header__title {
  text-align: center;
}

.circle-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
}

/*Navigation*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0dcaf0;
  padding: 0 12px;
}

.main-navigation__title {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

.main-navigation__list {
  list-style: none;
  display: flex;
}

.main-navigation__item {
  margin: 4px;
  color: #ffffff;
  font-weight: 700;
}

.main-navigation__link {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link--green {
  color: green;
}

/* Main */

.main {
  margin-top: 100px;
  padding: 0 48px 48px;
  display: flex;

  width: 70%;
}

/* Card */

.products {
  background-color: #0dcaf0;
  border-radius: 0.375rem;
  padding: 48px;
}

.products__title {
  color: #ffffff;
  font-size: 30px;
  margin-top: 0;
}

.products__list {
  margin-left: 48px;
}

.products__category {
  font-weight: 700;
}

.products__item {
  margin-left: 8px;
}

.card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 240px;
  border-radius: 16px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.card__content {
  padding: 16px;
}

.card__img {
  width: 100%;
}

.card__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.card__desc {
  margin-bottom: 12px;
}

.card__btn {
  width: 100%;
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new {
  color: white;
  font-size: 24px;
  background-color: blue;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px;
}

.discount {
  color: black;
  font-size: 24px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  /* top: 36px;
  right: -60px; */
  padding: 4px 60px;
  /* transform-origin: top center; */
  transform: translate(50px, 40px) rotateZ(45deg);
}
/*News*/

.news-article-list {
  border-radius: 0.375rem;
  border: 1px solid #0dcaf0;
  background-color: #0dcaf0;
  padding: 48px;
}

.news-article-list__title {
  color: white;
  font-size: 30px;
  margin-top: 0;
}

.news-article {
  padding: 0 48px;
}

/* Working Hours */

/* Table styles */
.working-hours__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table header styles */
.working-hours__head {
  padding: 10px;
  text-align: center;
}

/* Table row styles */
.working-hours__row--headers {
  background-color: #cfe2ff;
}

.working-hours__row {
  background-color: #cff4fc;
}
.working-hours__time {
  padding: 10px;
  text-align: center;
}

.working-hours__day {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Title styles */
.working-hours__title {
  color: #333333;
  margin-bottom: 10px;
}

/* Locations */

.locations {
  border-radius: 0.375rem;
  border: 1px solid #0dcaf0;
  background-color: #0dcaf0;
  padding: 48px;
}

.locations__title {
  color: white;
  font-size: 30px;
  margin-top: 0;
}

.locations__description,
.locations__details {
  padding: 0 48px;
}

.locations__img {
  width: 100%;
  margin-top: 24px;
}

/* Message */

.message {
  border-radius: 0.375rem;
  border: 1px solid #0dcaf0;
  padding: 24;
  display: flex;
  flex-direction: column;
}

.message__title {
  margin-left: 20px;
  margin-bottom: 0;
}

.message__form {
  padding: 20px;
}

.message__input,
.message__label,
.message__textarea {
  margin-bottom: 8px;
}

.message__fieldset {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.message__button {
  color: white;
  border-radius: 0.375rem;
  border: 1px solid #0dcaf0;
  background-color: #0dcaf0;
  line-height: 2;
}

/* Aside */

.aside {
  position: absolute;
  top: 100px;
  right: 0;
  width: 400px;
  height: 4000px;
}

.aside__content {
  position: sticky;
  top: 160px;
}

.aside__title {
  margin-left: 20px;
}

.aside__highlight {
  background-color: yellow;
}

/* Footer */

.page-footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: #f8f9fa;
  text-align: center;
  align-items: center;
  padding: 16px;
  background-color: #f8f9fa;
}

.page-footer__link {
  color: #000000;
}

.page-footer__last-updated {
  display: block;
}
